# BACKEND URL
BACKEND_URL=http://localhost:5000

# SUPPORT FORM URL
SUPPORT_FORM_URL=https://forms.gle/PPqT7Sy2JNY5NH2c6

# MAX FREE AI MESSAGES PER DAY
MAX_FREE_AI_MESSAGES_PER_DAY=5

# PRO PRICE
TRAVELLER_PRO_PRICE=249.99